* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}

.lock-screen {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.lock-screen h2 {
    margin-bottom: 20px;
}

.lock-screen .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.lock-screen .code-input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.lock-screen button {
    background-color: #1a4adb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.lock-screen button:hover {
    background-color: #002175;
}

.lock-screen .error {
    color: red;
    margin-top: 10px;
}
