#mainContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}




.container-nav .tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
}

.container-nav .tabs * {
  z-index: 2;
}

.container-nav input[type="radio"] {
  display: none;
}

.container-nav .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  font-size: .8rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.container-nav input[type="radio"]:checked + label {
  color: #185ee0;
}

.container-nav input[type="radio"]:checked + label > .notification {
  background-color: #185ee0;
  color: #fff;
  margin: 0px;
}

.container-nav input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.container-nav input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.container-nav input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}

.container-nav .glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 100px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}











.card {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 100%;
    border-radius: 20px;
  }
  
  .card .title {
    display: flex;
    align-items: center;
  }
  
  .card .title span {
    position: relative;
    padding: 0.5rem;
    background-color: #10B981;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
  }
  
  .card .title span svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    height: 1rem;
  }
  
  .card .title-text {
    margin-left: 0.5rem;
    color: #374151;
    font-size: 18px;
  }
  
  .card .percent {
    margin-left: 0.5rem;
    color: #02972f;
    font-weight: 600;
    display: flex;
  }
  
  .card .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .card .data p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1F2937;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
  }
  
  .card .data .range {
    position: relative;
    background-color: #E5E7EB;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .card .data .range .fill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10B981;
    width: 76%;
    height: 100%;
    border-radius: 0.25rem;
  }









  .texto .inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  width: 100%;
  position: relative;
}

.texto .inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.texto .inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.texto .inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #ffffff;
}

.texto .inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

.texto button {
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
   }
   
   .texto button div {
    transform: translateY(0px);
    width: 100%;
   }
   
   .texto button,
   .texto button div {
    transition: 0.6s cubic-bezier(.16,1,.3,1);
   }
   
   .texto button div span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0.75em 1.125em;
   }
   
   .texto button div:nth-child(1) {
    background-color: #1e90ff;
   }
   
   .texto button div:nth-child(2) {
    background-color: #21dc62;
   }
   
   .texto button:hover {
    box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
   }
   
   .texto button:hover div {
    transform: translateY(-50px);
   }
   
   .texto button p {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
   }
   
   .texto button:active {
    transform: scale(0.95);
   }